/*导航*/
.header {
  padding: 10px 0;
  height: 80px;
  background: #00052f;
  background-size: 100% 100%;
}
.header .logo {
  font-size: 28px;
  color: #ffffff;
  line-height: 60px;
  padding-left: 23px;
  float: left;
}
.header .logo img {
  padding-right: 10px;
  vertical-align: -12px;
}
.header .nav {
  float: right;
}
.header .nav ul {
  height: 60px;
  float: left;
}
.header .nav ul li {
  float: left;
  cursor: pointer;
}
.header .nav ul li.active {
  background: #0693db;
  border-bottom: 4px solid #ffc000;
}
.NavLi {
  padding-top: 7px;
}
.NavLi img {
  display: block;
  margin: 2px auto;
  width: 22px;
}
.NavLi .NavTheme {
  line-height: 23px;
  height: 23px;
  font-size: 16px;
  padding: 0 10px;
  color: #ffffff;
}
/* section 部分*/
.section {
  height: 815px;
  padding: 23px 60px;
  overflow: hidden;
  background: #04143b;
  border: 1px solid yellowgreen;
}
.section .IndexMainTab {
  width: 144px;
  float: left;
  height: 100%;
}
/* 旋转模块 */
.RotateBox {
  width: 810px;
  height: 390px;
}
.RotateBox.outer {
  padding: 25px 33px;
  background: url(../img/roll_wai.png);
}
.RotateBox.inner {
  margin: 92px auto;
  width: 470px;
  height: 200px;
  position: relative;
  top: -388px;
  background: url(../img/roll_nei.png);
}
.RotateParent {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
  border: 1px solid red;
  /* transform: rotateX(60deg) rotateZ(0deg); */
}
.ellipse {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  transform: rotateX(60deg) rotateZ(0deg);
}
.RotateItem {
  width: 75px;
  height: 75px;
  background: url(../img/blue_roll.png);
  background-size: 100% 100%;
  position: absolute;
  display: block;
  border-radius: 50%;
  z-index: 2;
}
.RotateItemInner {
  width: 60px;
  height: 60px;
  background: url(../img/green_roll.png);
  background-size: 100% 100%;
  position: absolute;
  display: block;
  border-radius: 50%;
  z-index: 2;
}
